-- Create system_settings table (single-row config)
CREATE TABLE IF NOT EXISTS public.system_settings (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  company_name text DEFAULT 'BOCHEL MICROCREDITO',
  email text DEFAULT 'admin@bochel.mz',
  phone text DEFAULT '',
  default_interest_rate numeric DEFAULT 30,
  max_loan_amount numeric DEFAULT 100000,
  min_loan_amount numeric DEFAULT 5000,
  loan_duration_days integer DEFAULT 30,
  email_notifications boolean DEFAULT true,
  sms_notifications boolean DEFAULT true,
  updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Insert the single config row
INSERT INTO public.system_settings (id) VALUES (gen_random_uuid());

-- Enable RLS
ALTER TABLE public.system_settings ENABLE ROW LEVEL SECURITY;

-- Gestor can read and update
CREATE POLICY "Gestor full access to settings"
  ON public.system_settings FOR ALL
  USING (auth.uid() IN (SELECT user_id FROM public.user_roles WHERE role = 'gestor'))
  WITH CHECK (auth.uid() IN (SELECT user_id FROM public.user_roles WHERE role = 'gestor'));

-- All authenticated users can read settings
CREATE POLICY "Authenticated read settings"
  ON public.system_settings FOR SELECT
  USING (auth.role() = 'authenticated');
